In [1]:
# Import dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

In [32]:
# Load dataset
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop EIN, NAME, SPECIAL_CONSIDERATIONS, STATUS columns
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)

In [20]:
# Bin APPLICATION_TYPE if counts are less than 200
app_counts = application_df["APPLICATION_TYPE"].value_counts()
replace_app = list(app_counts[app_counts < 200].index)

for app in replace_app:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app, "Other")
    
application_df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Bin CLASSIFICATION if counts are less than 1500
class_counts = application_df["CLASSIFICATION"].value_counts()
replace_class = list(class_counts[class_counts < 1500].index)

for clas in replace_class:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(clas, "Other")
    
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Categorical variable lists
app_categorical = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
app_categorical

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [23]:
# Create a OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[app_categorical]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(app_categorical)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Merge dataframes
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(app_categorical, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# Split data into features and targer arrays
X = application_df.drop(["IS_SUCCESSFUL"], 1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

/Users/kaiyahull/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [26]:
# Create the standard scaler
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Optimized neural model #2 - Increase number of hidden layers

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 100)               4400

 dense_8 (Dense)             (None, 50)                5050

 dense_9 (Dense)             (None, 30)                1530

 dense_10 (Dense)            (None, 1)                 31

=================================================================
Total params: 11,011
Trainable params: 11,011
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [30]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 761us/step - loss: 0.5686 - accuracy: 0.7243
Epoch 2/150
804/804 [==============================] - 1s 740us/step - loss: 0.5543 - accuracy: 0.7320
Epoch 3/150
804/804 [==============================] - 1s 737us/step - loss: 0.5513 - accuracy: 0.7342
Epoch 4/150
804/804 [==============================] - 1s 740us/step - loss: 0.5497 - accuracy: 0.7332
Epoch 5/150
804/804 [==============================] - 1s 782us/step - loss: 0.5489 - accuracy: 0.7339
Epoch 6/150
804/804 [==============================] - 1s 742us/step - loss: 0.5479 - accuracy: 0.7357
Epoch 7/150
804/804 [==============================] - 1s 739us/step - loss: 0.5463 - accuracy: 0.7362
Epoch 8/150
804/804 [==============================] - 1s 739us/step - loss: 0.5464 - accuracy: 0.7362
Epoch 9/150
804/804 [==============================] - 1s 754us/step - loss: 0.5452 - accuracy: 0.7358
Epoch 10/150
804/804 [==============================] - 1s 766us/step - loss: 0.5450 - accuracy: 0.7357
Epoch 11/150
804/804 [==============================] - 1s 773us/step - loss: 0.5443 - accuracy: 0.7364
Epoch 12/150
804/804 [==============================] - 1s 750us/step - loss: 0.5439 - accuracy: 0.7370
Epoch 13/150
804/804 [==============================] - 1s 765us/step - loss: 0.5433 - accuracy: 0.7366
Epoch 14/150
804/804 [==============================] - 1s 740us/step - loss: 0.5432 - accuracy: 0.7383
Epoch 15/150
804/804 [==============================] - 1s 746us/step - loss: 0.5432 - accuracy: 0.7368
Epoch 16/150
804/804 [==============================] - 1s 741us/step - loss: 0.5427 - accuracy: 0.7380
Epoch 17/150
804/804 [==============================] - 1s 748us/step - loss: 0.5425 - accuracy: 0.7383
Epoch 18/150
804/804 [==============================] - 1s 759us/step - loss: 0.5415 - accuracy: 0.7388
Epoch 19/150
804/804 [==============================] - 1s 747us/step - loss: 0.5412 - accuracy: 0.7382
Epoch 20/150
804/804 [==============================] - 1s 751us/step - loss: 0.5417 - accuracy: 0.7376
Epoch 21/150
804/804 [==============================] - 1s 784us/step - loss: 0.5412 - accuracy: 0.7381
Epoch 22/150
804/804 [==============================] - 1s 756us/step - loss: 0.5408 - accuracy: 0.7386
Epoch 23/150
804/804 [==============================] - 1s 771us/step - loss: 0.5407 - accuracy: 0.7384
Epoch 24/150
804/804 [==============================] - 1s 746us/step - loss: 0.5399 - accuracy: 0.7392
Epoch 25/150
804/804 [==============================] - 1s 744us/step - loss: 0.5398 - accuracy: 0.7388
Epoch 26/150
804/804 [==============================] - 1s 738us/step - loss: 0.5393 - accuracy: 0.7386
Epoch 27/150
804/804 [==============================] - 1s 739us/step - loss: 0.5391 - accuracy: 0.7385
Epoch 28/150
804/804 [==============================] - 1s 741us/step - loss: 0.5395 - accuracy: 0.7393
Epoch 29/150
804/804 [==============================] - 1s 741us/step - loss: 0.5390 - accuracy: 0.7393
Epoch 30/150
804/804 [==============================] - 1s 739us/step - loss: 0.5388 - accuracy: 0.7395
Epoch 31/150
804/804 [==============================] - 1s 737us/step - loss: 0.5388 - accuracy: 0.7397
Epoch 32/150
804/804 [==============================] - 1s 739us/step - loss: 0.5384 - accuracy: 0.7399
Epoch 33/150
804/804 [==============================] - 1s 740us/step - loss: 0.5382 - accuracy: 0.7395
Epoch 34/150
804/804 [==============================] - 1s 745us/step - loss: 0.5383 - accuracy: 0.7398
Epoch 35/150
804/804 [==============================] - 1s 791us/step - loss: 0.5383 - accuracy: 0.7399
Epoch 36/150
804/804 [==============================] - 1s 743us/step - loss: 0.5380 - accuracy: 0.7400
Epoch 37/150
804/804 [==============================] - 1s 759us/step - loss: 0.5378 - accuracy: 0.7400
Epoch 38/150
804/804 [==============================] - 1s 741us/step - loss: 0.5378 - accuracy: 0.7401
Epoch 39/150
804/804 [==============================] - 1s 741us/step - loss: 0.5374 - accuracy: 0.7396
Epoch 40/150
804/804 [==============================] - 1s 737us/step - loss: 0.5372 - accuracy: 0.7405
Epoch 41/150
804/804 [==============================] - 1s 740us/step - loss: 0.5372 - accuracy: 0.7402
Epoch 42/150
804/804 [==============================] - 1s 739us/step - loss: 0.5368 - accuracy: 0.7398
Epoch 43/150
804/804 [==============================] - 1s 743us/step - loss: 0.5369 - accuracy: 0.7402
Epoch 44/150
804/804 [==============================] - 1s 740us/step - loss: 0.5370 - accuracy: 0.7405
Epoch 45/150
804/804 [==============================] - 1s 740us/step - loss: 0.5370 - accuracy: 0.7402
Epoch 46/150
804/804 [==============================] - 1s 738us/step - loss: 0.5369 - accuracy: 0.7407
Epoch 47/150
804/804 [==============================] - 1s 737us/step - loss: 0.5361 - accuracy: 0.7401
Epoch 48/150
804/804 [==============================] - 1s 741us/step - loss: 0.5362 - accuracy: 0.7396
Epoch 49/150
804/804 [==============================] - 1s 738us/step - loss: 0.5361 - accuracy: 0.7397
Epoch 50/150
804/804 [==============================] - 1s 743us/step - loss: 0.5363 - accuracy: 0.7404
Epoch 51/150
804/804 [==============================] - 1s 753us/step - loss: 0.5356 - accuracy: 0.7416
Epoch 52/150
804/804 [==============================] - 1s 742us/step - loss: 0.5356 - accuracy: 0.7409
Epoch 53/150
804/804 [==============================] - 1s 742us/step - loss: 0.5356 - accuracy: 0.7408
Epoch 54/150
804/804 [==============================] - 1s 739us/step - loss: 0.5358 - accuracy: 0.7411
Epoch 55/150
804/804 [==============================] - 1s 737us/step - loss: 0.5355 - accuracy: 0.7407
Epoch 56/150
804/804 [==============================] - 1s 735us/step - loss: 0.5351 - accuracy: 0.7416
Epoch 57/150
804/804 [==============================] - 1s 738us/step - loss: 0.5351 - accuracy: 0.7414
Epoch 58/150
804/804 [==============================] - 1s 738us/step - loss: 0.5353 - accuracy: 0.7410
Epoch 59/150
804/804 [==============================] - 1s 769us/step - loss: 0.5349 - accuracy: 0.7416
Epoch 60/150
804/804 [==============================] - 1s 740us/step - loss: 0.5351 - accuracy: 0.7402
Epoch 61/150
804/804 [==============================] - 1s 737us/step - loss: 0.5347 - accuracy: 0.7411
Epoch 62/150
804/804 [==============================] - 1s 738us/step - loss: 0.5349 - accuracy: 0.7402
Epoch 63/150
804/804 [==============================] - 1s 739us/step - loss: 0.5345 - accuracy: 0.7414
Epoch 64/150
804/804 [==============================] - 1s 736us/step - loss: 0.5345 - accuracy: 0.7409
Epoch 65/150
804/804 [==============================] - 1s 739us/step - loss: 0.5347 - accuracy: 0.7419
Epoch 66/150
804/804 [==============================] - 1s 738us/step - loss: 0.5347 - accuracy: 0.7419
Epoch 67/150
804/804 [==============================] - 1s 740us/step - loss: 0.5348 - accuracy: 0.7418
Epoch 68/150
804/804 [==============================] - 1s 756us/step - loss: 0.5342 - accuracy: 0.7412
Epoch 69/150
804/804 [==============================] - 1s 738us/step - loss: 0.5343 - accuracy: 0.7418
Epoch 70/150
804/804 [==============================] - 1s 760us/step - loss: 0.5344 - accuracy: 0.7422
Epoch 71/150
804/804 [==============================] - 1s 815us/step - loss: 0.5337 - accuracy: 0.7424
Epoch 72/150
804/804 [==============================] - 1s 808us/step - loss: 0.5349 - accuracy: 0.7422
Epoch 73/150
804/804 [==============================] - 1s 772us/step - loss: 0.5342 - accuracy: 0.7407
Epoch 74/150
804/804 [==============================] - 1s 794us/step - loss: 0.5335 - accuracy: 0.7421
Epoch 75/150
804/804 [==============================] - 1s 791us/step - loss: 0.5341 - accuracy: 0.7411
Epoch 76/150
804/804 [==============================] - 1s 762us/step - loss: 0.5336 - accuracy: 0.7426
Epoch 77/150
804/804 [==============================] - 1s 767us/step - loss: 0.5336 - accuracy: 0.7418
Epoch 78/150
804/804 [==============================] - 1s 748us/step - loss: 0.5338 - accuracy: 0.7416
Epoch 79/150
804/804 [==============================] - 1s 748us/step - loss: 0.5335 - accuracy: 0.7414
Epoch 80/150
804/804 [==============================] - 1s 740us/step - loss: 0.5335 - accuracy: 0.7411
Epoch 81/150
804/804 [==============================] - 1s 754us/step - loss: 0.5331 - accuracy: 0.7424
Epoch 82/150
804/804 [==============================] - 1s 745us/step - loss: 0.5334 - accuracy: 0.7419
Epoch 83/150
804/804 [==============================] - 1s 746us/step - loss: 0.5334 - accuracy: 0.7418
Epoch 84/150
804/804 [==============================] - 1s 751us/step - loss: 0.5339 - accuracy: 0.7422
Epoch 85/150
804/804 [==============================] - 1s 750us/step - loss: 0.5332 - accuracy: 0.7419
Epoch 86/150
804/804 [==============================] - 1s 738us/step - loss: 0.5329 - accuracy: 0.7418
Epoch 87/150
804/804 [==============================] - 1s 733us/step - loss: 0.5331 - accuracy: 0.7424
Epoch 88/150
804/804 [==============================] - 1s 736us/step - loss: 0.5331 - accuracy: 0.7420
Epoch 89/150
804/804 [==============================] - 1s 739us/step - loss: 0.5332 - accuracy: 0.7425
Epoch 90/150
804/804 [==============================] - 1s 736us/step - loss: 0.5330 - accuracy: 0.7422
Epoch 91/150
804/804 [==============================] - 1s 738us/step - loss: 0.5330 - accuracy: 0.7421
Epoch 92/150
804/804 [==============================] - 1s 736us/step - loss: 0.5327 - accuracy: 0.7418
Epoch 93/150
804/804 [==============================] - 1s 796us/step - loss: 0.5329 - accuracy: 0.7413
Epoch 94/150
804/804 [==============================] - 1s 737us/step - loss: 0.5325 - accuracy: 0.7420
Epoch 95/150
804/804 [==============================] - 1s 735us/step - loss: 0.5332 - accuracy: 0.7414
Epoch 96/150
804/804 [==============================] - 1s 737us/step - loss: 0.5323 - accuracy: 0.7423
Epoch 97/150
804/804 [==============================] - 1s 737us/step - loss: 0.5331 - accuracy: 0.7425
Epoch 98/150
804/804 [==============================] - 1s 737us/step - loss: 0.5327 - accuracy: 0.7423
Epoch 99/150
804/804 [==============================] - 1s 735us/step - loss: 0.5332 - accuracy: 0.7429
Epoch 100/150
804/804 [==============================] - 1s 740us/step - loss: 0.5326 - accuracy: 0.7421
Epoch 101/150
804/804 [==============================] - 1s 754us/step - loss: 0.5327 - accuracy: 0.7418
Epoch 102/150
804/804 [==============================] - 1s 744us/step - loss: 0.5324 - accuracy: 0.7424
Epoch 103/150
804/804 [==============================] - 1s 739us/step - loss: 0.5320 - accuracy: 0.7421
Epoch 104/150
804/804 [==============================] - 1s 736us/step - loss: 0.5327 - accuracy: 0.7425
Epoch 105/150
804/804 [==============================] - 1s 737us/step - loss: 0.5323 - accuracy: 0.7430
Epoch 106/150
804/804 [==============================] - 1s 738us/step - loss: 0.5325 - accuracy: 0.7418
Epoch 107/150
804/804 [==============================] - 1s 735us/step - loss: 0.5323 - accuracy: 0.7421
Epoch 108/150
804/804 [==============================] - 1s 735us/step - loss: 0.5328 - accuracy: 0.7427
Epoch 109/150
804/804 [==============================] - 1s 753us/step - loss: 0.5320 - accuracy: 0.7424
Epoch 110/150
804/804 [==============================] - 1s 740us/step - loss: 0.5323 - accuracy: 0.7425
Epoch 111/150
804/804 [==============================] - 1s 740us/step - loss: 0.5319 - accuracy: 0.7421
Epoch 112/150
804/804 [==============================] - 1s 734us/step - loss: 0.5325 - accuracy: 0.7418
Epoch 113/150
804/804 [==============================] - 1s 739us/step - loss: 0.5322 - accuracy: 0.7414
Epoch 114/150
804/804 [==============================] - 1s 739us/step - loss: 0.5318 - accuracy: 0.7428
Epoch 115/150
804/804 [==============================] - 1s 736us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 116/150
804/804 [==============================] - 1s 734us/step - loss: 0.5323 - accuracy: 0.7420
Epoch 117/150
804/804 [==============================] - 1s 740us/step - loss: 0.5319 - accuracy: 0.7430
Epoch 118/150
804/804 [==============================] - 1s 763us/step - loss: 0.5320 - accuracy: 0.7428
Epoch 119/150
804/804 [==============================] - 1s 757us/step - loss: 0.5323 - accuracy: 0.7414
Epoch 120/150
804/804 [==============================] - 1s 758us/step - loss: 0.5327 - accuracy: 0.7413
Epoch 121/150
804/804 [==============================] - 1s 746us/step - loss: 0.5313 - accuracy: 0.7426
Epoch 122/150
804/804 [==============================] - 1s 747us/step - loss: 0.5321 - accuracy: 0.7427
Epoch 123/150
804/804 [==============================] - 1s 755us/step - loss: 0.5316 - accuracy: 0.7430
Epoch 124/150
804/804 [==============================] - 1s 739us/step - loss: 0.5315 - accuracy: 0.7424
Epoch 125/150
804/804 [==============================] - 1s 735us/step - loss: 0.5312 - accuracy: 0.7418
Epoch 126/150
804/804 [==============================] - 1s 739us/step - loss: 0.5318 - accuracy: 0.7423
Epoch 127/150
804/804 [==============================] - 1s 741us/step - loss: 0.5315 - accuracy: 0.7427
Epoch 128/150
804/804 [==============================] - 1s 737us/step - loss: 0.5321 - accuracy: 0.7416
Epoch 129/150
804/804 [==============================] - 1s 737us/step - loss: 0.5317 - accuracy: 0.7423
Epoch 130/150
804/804 [==============================] - 1s 737us/step - loss: 0.5316 - accuracy: 0.7421
Epoch 131/150
804/804 [==============================] - 1s 737us/step - loss: 0.5319 - accuracy: 0.7426
Epoch 132/150
804/804 [==============================] - 1s 739us/step - loss: 0.5313 - accuracy: 0.7426
Epoch 133/150
804/804 [==============================] - 1s 738us/step - loss: 0.5312 - accuracy: 0.7426
Epoch 134/150
804/804 [==============================] - 1s 756us/step - loss: 0.5314 - accuracy: 0.7427
Epoch 135/150
804/804 [==============================] - 1s 774us/step - loss: 0.5315 - accuracy: 0.7419
Epoch 136/150
804/804 [==============================] - 1s 738us/step - loss: 0.5315 - accuracy: 0.7429
Epoch 137/150
804/804 [==============================] - 1s 739us/step - loss: 0.5315 - accuracy: 0.7424
Epoch 138/150
804/804 [==============================] - 1s 735us/step - loss: 0.5314 - accuracy: 0.7426
Epoch 139/150
804/804 [==============================] - 1s 738us/step - loss: 0.5312 - accuracy: 0.7434
Epoch 140/150
804/804 [==============================] - 1s 737us/step - loss: 0.5319 - accuracy: 0.7418
Epoch 141/150
804/804 [==============================] - 1s 740us/step - loss: 0.5314 - accuracy: 0.7426
Epoch 142/150
804/804 [==============================] - 1s 738us/step - loss: 0.5309 - accuracy: 0.7423
Epoch 143/150
804/804 [==============================] - 1s 744us/step - loss: 0.5311 - accuracy: 0.7432
Epoch 144/150
804/804 [==============================] - 1s 744us/step - loss: 0.5313 - accuracy: 0.7424
Epoch 145/150
804/804 [==============================] - 1s 742us/step - loss: 0.5312 - accuracy: 0.7425
Epoch 146/150
804/804 [==============================] - 1s 747us/step - loss: 0.5318 - accuracy: 0.7425
Epoch 147/150
804/804 [==============================] - 1s 743us/step - loss: 0.5312 - accuracy: 0.7426
Epoch 148/150
804/804 [==============================] - 1s 742us/step - loss: 0.5311 - accuracy: 0.7429
Epoch 149/150
804/804 [==============================] - 1s 747us/step - loss: 0.5315 - accuracy: 0.7431
Epoch 150/150
804/804 [==============================] - 1s 745us/step - loss: 0.5309 - accuracy: 0.7427

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5869 - accuracy: 0.7264 - 213ms/epoch - 796us/step
Loss: 0.5868578553199768, Accuracy: 0.7264139652252197