In [1]:
# Initial imports

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# Load dataset
file_path = "Resources/charity_data.csv"
application_df = pd.read_csv(file_path)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Preprocess Data

In [3]:
# Drop EIN and NAME columns (non-beneficial ID columns)
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)

In [4]:
# Find unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Bin values in APPLICATION_TYPE column if counts are less than 200
application_count = application_df["APPLICATION_TYPE"].value_counts()
replace_application = list(application_count[application_count < 200].index)

# Replace value in DataFrame with "Other"
for application in replace_application:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(application, "Other")
    

# Count values in APPLICATION_TYPE, ensure binning was successful
application_df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Bin values in CLASSIFICATION value counts if less than 1500
class_count = application_df["CLASSIFICATION"].value_counts()
replace_class = list(class_count[class_count < 1500].index)

# Replace value in DataFrame with "Other"
for cls in replace_class:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(cls, "Other")
    
# Check that binning was successful
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Create categorical variables list
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHot Encoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Merge the OneHotEncoded features with the original DataFrame and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split preprocessed data into features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

/Users/kaiyahull/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
# Create a StandardScaler() instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Optimized neural model #1 - Add more neurons to the hidden layers

In [12]:
# Define the model 
number_input_features_1 = len(X_train_scaled[0])
hidden_nodes_layer1 = 120
hidden_nodes_layer2 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim= number_input_features_1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               5280

 dense_1 (Dense)             (None, 60)                7260

 dense_2 (Dense)             (None, 1)                 61

=================================================================
Total params: 12,601
Trainable params: 12,601
Non-trainable params: 0
_________________________________________________________________

2022-05-01 22:23:47.507590: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Import dependencies for callback checkpoints
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose=1,
    save_weights_only = True,
    save_freq=5)

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 727us/step - loss: 0.5712 - accuracy: 0.7236
Epoch 2/100
804/804 [==============================] - 1s 733us/step - loss: 0.5563 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 1s 780us/step - loss: 0.5519 - accuracy: 0.7322
Epoch 4/100
804/804 [==============================] - 1s 735us/step - loss: 0.5500 - accuracy: 0.7333
Epoch 5/100
804/804 [==============================] - 1s 752us/step - loss: 0.5485 - accuracy: 0.7336
Epoch 6/100
804/804 [==============================] - 1s 721us/step - loss: 0.5477 - accuracy: 0.7337
Epoch 7/100
804/804 [==============================] - 1s 725us/step - loss: 0.5472 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 1s 720us/step - loss: 0.5460 - accuracy: 0.7354
Epoch 9/100
804/804 [==============================] - 1s 716us/step - loss: 0.5459 - accuracy: 0.7355
Epoch 10/100
804/804 [==============================] - 1s 710us/step - loss: 0.5452 - accuracy: 0.7367
Epoch 11/100
804/804 [==============================] - 1s 720us/step - loss: 0.5450 - accuracy: 0.7378
Epoch 12/100
804/804 [==============================] - 1s 747us/step - loss: 0.5444 - accuracy: 0.7362
Epoch 13/100
804/804 [==============================] - 1s 715us/step - loss: 0.5438 - accuracy: 0.7371
Epoch 14/100
804/804 [==============================] - 1s 752us/step - loss: 0.5433 - accuracy: 0.7372
Epoch 15/100
804/804 [==============================] - 1s 735us/step - loss: 0.5435 - accuracy: 0.7380
Epoch 16/100
804/804 [==============================] - 1s 724us/step - loss: 0.5427 - accuracy: 0.7372
Epoch 17/100
804/804 [==============================] - 1s 719us/step - loss: 0.5420 - accuracy: 0.7390
Epoch 18/100
804/804 [==============================] - 1s 726us/step - loss: 0.5419 - accuracy: 0.7378
Epoch 19/100
804/804 [==============================] - 1s 747us/step - loss: 0.5414 - accuracy: 0.7380
Epoch 20/100
804/804 [==============================] - 1s 758us/step - loss: 0.5415 - accuracy: 0.7388
Epoch 21/100
804/804 [==============================] - 1s 723us/step - loss: 0.5408 - accuracy: 0.7379
Epoch 22/100
804/804 [==============================] - 1s 739us/step - loss: 0.5407 - accuracy: 0.7385
Epoch 23/100
804/804 [==============================] - 1s 756us/step - loss: 0.5406 - accuracy: 0.7394
Epoch 24/100
804/804 [==============================] - 1s 762us/step - loss: 0.5406 - accuracy: 0.7397
Epoch 25/100
804/804 [==============================] - 1s 765us/step - loss: 0.5402 - accuracy: 0.7387
Epoch 26/100
804/804 [==============================] - 1s 706us/step - loss: 0.5401 - accuracy: 0.7392
Epoch 27/100
804/804 [==============================] - 1s 710us/step - loss: 0.5398 - accuracy: 0.7397
Epoch 28/100
804/804 [==============================] - 1s 732us/step - loss: 0.5395 - accuracy: 0.7402
Epoch 29/100
804/804 [==============================] - 1s 764us/step - loss: 0.5393 - accuracy: 0.7398
Epoch 30/100
804/804 [==============================] - 1s 728us/step - loss: 0.5394 - accuracy: 0.7392
Epoch 31/100
804/804 [==============================] - 1s 732us/step - loss: 0.5392 - accuracy: 0.7397
Epoch 32/100
804/804 [==============================] - 1s 735us/step - loss: 0.5389 - accuracy: 0.7397
Epoch 33/100
804/804 [==============================] - 1s 729us/step - loss: 0.5385 - accuracy: 0.7406
Epoch 34/100
804/804 [==============================] - 1s 737us/step - loss: 0.5386 - accuracy: 0.7402
Epoch 35/100
804/804 [==============================] - 1s 731us/step - loss: 0.5381 - accuracy: 0.7402
Epoch 36/100
804/804 [==============================] - 1s 722us/step - loss: 0.5378 - accuracy: 0.7401
Epoch 37/100
804/804 [==============================] - 1s 711us/step - loss: 0.5385 - accuracy: 0.7403
Epoch 38/100
804/804 [==============================] - 1s 708us/step - loss: 0.5380 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 1s 736us/step - loss: 0.5380 - accuracy: 0.7397
Epoch 40/100
804/804 [==============================] - 1s 723us/step - loss: 0.5374 - accuracy: 0.7399
Epoch 41/100
804/804 [==============================] - 1s 762us/step - loss: 0.5378 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 1s 732us/step - loss: 0.5373 - accuracy: 0.7406
Epoch 43/100
804/804 [==============================] - 1s 712us/step - loss: 0.5370 - accuracy: 0.7401
Epoch 44/100
804/804 [==============================] - 1s 726us/step - loss: 0.5377 - accuracy: 0.7400
Epoch 45/100
804/804 [==============================] - 1s 737us/step - loss: 0.5369 - accuracy: 0.7407
Epoch 46/100
804/804 [==============================] - 1s 726us/step - loss: 0.5365 - accuracy: 0.7413
Epoch 47/100
804/804 [==============================] - 1s 780us/step - loss: 0.5370 - accuracy: 0.7394
Epoch 48/100
804/804 [==============================] - 1s 746us/step - loss: 0.5364 - accuracy: 0.7397
Epoch 49/100
804/804 [==============================] - 1s 737us/step - loss: 0.5371 - accuracy: 0.7409
Epoch 50/100
804/804 [==============================] - 1s 777us/step - loss: 0.5368 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 1s 763us/step - loss: 0.5362 - accuracy: 0.7415
Epoch 52/100
804/804 [==============================] - 1s 716us/step - loss: 0.5364 - accuracy: 0.7402
Epoch 53/100
804/804 [==============================] - 1s 722us/step - loss: 0.5362 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 717us/step - loss: 0.5358 - accuracy: 0.7416
Epoch 55/100
804/804 [==============================] - 1s 721us/step - loss: 0.5361 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 1s 723us/step - loss: 0.5360 - accuracy: 0.7411
Epoch 57/100
804/804 [==============================] - 1s 746us/step - loss: 0.5362 - accuracy: 0.7407
Epoch 58/100
804/804 [==============================] - 1s 730us/step - loss: 0.5357 - accuracy: 0.7415
Epoch 59/100
804/804 [==============================] - 1s 745us/step - loss: 0.5361 - accuracy: 0.7412
Epoch 60/100
804/804 [==============================] - 1s 733us/step - loss: 0.5357 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 730us/step - loss: 0.5355 - accuracy: 0.7409
Epoch 62/100
804/804 [==============================] - 1s 717us/step - loss: 0.5350 - accuracy: 0.7407
Epoch 63/100
804/804 [==============================] - 1s 721us/step - loss: 0.5353 - accuracy: 0.7404
Epoch 64/100
804/804 [==============================] - 1s 702us/step - loss: 0.5353 - accuracy: 0.7412
Epoch 65/100
804/804 [==============================] - 1s 706us/step - loss: 0.5351 - accuracy: 0.7409
Epoch 66/100
804/804 [==============================] - 1s 704us/step - loss: 0.5351 - accuracy: 0.7414
Epoch 67/100
804/804 [==============================] - 1s 699us/step - loss: 0.5352 - accuracy: 0.7406
Epoch 68/100
804/804 [==============================] - 1s 701us/step - loss: 0.5352 - accuracy: 0.7414
Epoch 69/100
804/804 [==============================] - 1s 705us/step - loss: 0.5345 - accuracy: 0.7411
Epoch 70/100
804/804 [==============================] - 1s 700us/step - loss: 0.5354 - accuracy: 0.7412
Epoch 71/100
804/804 [==============================] - 1s 706us/step - loss: 0.5351 - accuracy: 0.7409
Epoch 72/100
804/804 [==============================] - 1s 739us/step - loss: 0.5347 - accuracy: 0.7416
Epoch 73/100
804/804 [==============================] - 1s 709us/step - loss: 0.5344 - accuracy: 0.7420
Epoch 74/100
804/804 [==============================] - 1s 711us/step - loss: 0.5347 - accuracy: 0.7418
Epoch 75/100
804/804 [==============================] - 1s 721us/step - loss: 0.5344 - accuracy: 0.7415
Epoch 76/100
804/804 [==============================] - 1s 730us/step - loss: 0.5345 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 1s 716us/step - loss: 0.5344 - accuracy: 0.7418
Epoch 78/100
804/804 [==============================] - 1s 722us/step - loss: 0.5343 - accuracy: 0.7418
Epoch 79/100

804/804 [==============================] - 1s 711us/step - loss: 0.5346 - accuracy: 0.7418
Epoch 80/100
804/804 [==============================] - 1s 721us/step - loss: 0.5344 - accuracy: 0.7411
Epoch 81/100
804/804 [==============================] - 1s 698us/step - loss: 0.5347 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 1s 697us/step - loss: 0.5341 - accuracy: 0.7416
Epoch 83/100
804/804 [==============================] - 1s 696us/step - loss: 0.5340 - accuracy: 0.7422
Epoch 84/100
804/804 [==============================] - 1s 714us/step - loss: 0.5339 - accuracy: 0.7417
Epoch 85/100
804/804 [==============================] - 1s 715us/step - loss: 0.5345 - accuracy: 0.7409
Epoch 86/100
804/804 [==============================] - 1s 705us/step - loss: 0.5353 - accuracy: 0.7412
Epoch 87/100
804/804 [==============================] - 1s 714us/step - loss: 0.5329 - accuracy: 0.7414
Epoch 88/100
804/804 [==============================] - 1s 715us/step - loss: 0.5337 - accuracy: 0.7422
Epoch 89/100
804/804 [==============================] - 1s 704us/step - loss: 0.5336 - accuracy: 0.7414
Epoch 90/100
804/804 [==============================] - 1s 714us/step - loss: 0.5334 - accuracy: 0.7414
Epoch 91/100
804/804 [==============================] - 1s 706us/step - loss: 0.5342 - accuracy: 0.7418
Epoch 92/100
804/804 [==============================] - 1s 744us/step - loss: 0.5340 - accuracy: 0.7413
Epoch 93/100
804/804 [==============================] - 1s 726us/step - loss: 0.5330 - accuracy: 0.7426
Epoch 94/100
804/804 [==============================] - 1s 729us/step - loss: 0.5336 - accuracy: 0.7418
Epoch 95/100
804/804 [==============================] - 1s 736us/step - loss: 0.5339 - accuracy: 0.7416
Epoch 96/100
804/804 [==============================] - 1s 745us/step - loss: 0.5334 - accuracy: 0.7421
Epoch 97/100
804/804 [==============================] - 1s 730us/step - loss: 0.5333 - accuracy: 0.7418
Epoch 98/100
804/804 [==============================] - 1s 763us/step - loss: 0.5331 - accuracy: 0.7415
Epoch 99/100
804/804 [==============================] - 1s 741us/step - loss: 0.5334 - accuracy: 0.7423
Epoch 100/100
804/804 [==============================] - 1s 732us/step - loss: 0.5337 - accuracy: 0.7419

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5727 - accuracy: 0.7254 - 241ms/epoch - 900us/step
Loss: 0.572676420211792, Accuracy: 0.7253644466400146